/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 18. 11. 2025 17:27:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 18. 11. 2025 17:27:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Author] [nvarchar](max) NOT NULL,
	[IsBorrowed] [bit] NOT NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loans]    Script Date: 18. 11. 2025 17:27:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LoanDate] [datetime2](7) NOT NULL,
	[ReturnDate] [datetime2](7) NULL,
	[ReaderCardId] [nvarchar](450) NOT NULL,
	[BookId] [int] NOT NULL,
 CONSTRAINT [PK_Loans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Readers]    Script Date: 18. 11. 2025 17:27:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Readers](
	[CardId] [nvarchar](450) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Readers] PRIMARY KEY CLUSTERED 
(
	[CardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251112133717_AddBookCreate', N'8.0.22')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251112204800_AddReaderCreate', N'8.0.22')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251114083308_AddLoansCreate', N'8.0.22')
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([Id], [Title], [Author], [IsBorrowed]) VALUES (1, N'The Lord of the Rings I. - The Fellowship of the Ring', N'J.R.R. Tolkien', 1)
INSERT [dbo].[Books] ([Id], [Title], [Author], [IsBorrowed]) VALUES (2, N'The Lord of the Rings II. - The Two Towers', N'J.R.R. Tolkien', 0)
INSERT [dbo].[Books] ([Id], [Title], [Author], [IsBorrowed]) VALUES (3, N'The Lord of the Rings III. - The Return of the King', N'J.R.R Tolkien', 0)
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Loans] ON 

INSERT [dbo].[Loans] ([Id], [LoanDate], [ReturnDate], [ReaderCardId], [BookId]) VALUES (1, CAST(N'2025-11-14T09:34:20.9860148' AS DateTime2), CAST(N'2025-11-14T10:38:30.9293319' AS DateTime2), N'NC557374', 1)
INSERT [dbo].[Loans] ([Id], [LoanDate], [ReturnDate], [ReaderCardId], [BookId]) VALUES (2, CAST(N'2025-11-14T10:58:05.8258407' AS DateTime2), CAST(N'2025-11-14T11:02:30.5144850' AS DateTime2), N'NC557374', 1)
INSERT [dbo].[Loans] ([Id], [LoanDate], [ReturnDate], [ReaderCardId], [BookId]) VALUES (3, CAST(N'2025-11-14T11:04:29.8660393' AS DateTime2), CAST(N'2025-11-14T11:04:45.6022210' AS DateTime2), N'NC854924', 2)
SET IDENTITY_INSERT [dbo].[Loans] OFF
GO
INSERT [dbo].[Readers] ([CardId], [FirstName], [LastName], [DateOfBirth]) VALUES (N'AS741657', N'Olivia', N'Harper', CAST(N'1998-04-21T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Readers] ([CardId], [FirstName], [LastName], [DateOfBirth]) VALUES (N'ID-304879', N'Mia', N'Richardson', CAST(N'1994-10-20T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Readers] ([CardId], [FirstName], [LastName], [DateOfBirth]) VALUES (N'JS247682', N'Ethan', N'Parker', CAST(N'1973-07-03T00:00:00.0000000' AS DateTime2))
GO
/****** Object:  Index [IX_Loans_BookId]    Script Date: 18. 11. 2025 17:27:21 ******/
CREATE NONCLUSTERED INDEX [IX_Loans_BookId] ON [dbo].[Loans]
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Loans_ReaderCardId]    Script Date: 18. 11. 2025 17:27:21 ******/
CREATE NONCLUSTERED INDEX [IX_Loans_ReaderCardId] ON [dbo].[Loans]
(
	[ReaderCardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Loans]  WITH CHECK ADD  CONSTRAINT [FK_Loans_Books_BookId] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Loans] CHECK CONSTRAINT [FK_Loans_Books_BookId]
GO
ALTER TABLE [dbo].[Loans]  WITH CHECK ADD  CONSTRAINT [FK_Loans_Readers_ReaderCardId] FOREIGN KEY([ReaderCardId])
REFERENCES [dbo].[Readers] ([CardId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Loans] CHECK CONSTRAINT [FK_Loans_Readers_ReaderCardId]
GO
