@using Library.ViewModels
@model ReaderViewModel
<div class="text-center">
    <h1>Delete reader</h1>
    <p>Are you sure, do you want to delete this reader?</p>
    <form asp-action="ConfirmDelete" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label asp-for="CardId" class="form-label"></label>
            <input class="form-control" asp-for="CardId" readonly />
            <span asp-validation-for="CardId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="FirstName" class="form-label"></label>
            <input class="form-control" asp-for="FirstName" readonly />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="LastName" class="form-label"></label>
            <input class="form-control" asp-for="LastName" readonly />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="DateOfBirth" class="form-label"></label>
            <input class="form-control" value="@Model.DateOfBirth.ToString("dd.MM.yyyy")" readonly />
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>
        <button type="submit" class="hero-btn hero-btn-danger">Delete</button>
        <a asp-action="GetRecords" asp-controller="Reader" class="hero-btn hero-btn-primary">Back</a>
    </form>
</div>
