@using Library.ViewModels
@model BookViewModel
<div class="text-center">
    <h1>Add book</h1>
    <form asp-action="AddRecord" method="post" class="form">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="IsBorrowed" />
        <div class="mb-3">
            <label asp-for="Title" class="form-label"></label>
            <input class="form-control" asp-for="Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Author" class="form-label"></label>
            <input class="form-control" asp-for="Author"/>
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
        <button type="submit" class="hero-btn hero-btn-primary">Add</button>
        <a asp-action="GetRecords" asp-controller="Book" class="hero-btn hero-btn-primary">Back</a>
    </form>
</div>